
config.*
*.tar.gz
/libtool
/ltmain.sh
.libs
/stamp-h1
.dirstamp
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/m4/*
*.log
*.l[ao]
*.[oa]
*.so
*~
[tp]-*
![tp]-*.[hc]
.deps
Makefile
Makefile.in
configure
Makevars
autom4te.cache
test-driver
..*
